@import url('https://fonts.googleapis.com/css2?family=Merriweather&display=swap');

h1, h2, h3, h4, h5, h6{
    font-family: 'Merriweather', serif;
    font-weight: bold;
}

span{
    color: darkgray;
    font-weight: bolder;
}

.card-header, .card-body{
    color: #F1FFE8;
}

.card-link{
    text-decoration: none;
}
.scrolled-down{
    transform:translateY(-100%); transition: all 0.3s ease-in-out;
}
.scrolled-up{
    transform:translateY(0); transition: all 0.3s ease-in-out;
}
/*CONSULTA*/
#consulta-container{
    background-color: #B3B6E3;
    border-radius: 10px;
    min-height: 525px;
}

#consulta-subtitulo-texto{
    color: white;
}

#btn-agendar-semana{
    background-color: white;
    color: black;
    display: block;
    width: 100%;
}

#btn-agendar-semana:focus{
    background-color: #8284a5;
    color: black;
    display: block;
    width: 100%;
}

#agendar-horarios{
    display: none;
}

#horariosSemana{
    overflow: auto;
    max-height: inherit;
}

/*INFORMAÇÕES*/
#img-pesquisa{
    max-width: 100vw;
    margin-bottom: 2%;
    
}

@media (min-width: 577px) {
    #img-pesquisa{
        max-width: 40vw;
        margin: auto;
        margin-top: 0;
        margin-bottom: 2%;
        
    }
}

/*SOBRE NOS*/
.sobre-nos-texto{
    text-align: justify;
}

#card-sobre-nos{
    color: black;
    border: 0;
}   

/*DEPOIMENTOS*/

#depoimentos{
    min-height: 300px;
}

.carousel-control-prev, .carousel-control-next{
    width: 50px;
}

@media (max-width: 576px) {
    #depoimentos{
        min-height: 620px;
    }
    .carousel{
        padding-left: 0;
        padding-right: 0;
    }
    .carousel-control-prev, .carousel-control-next{
        width: 0px;
    } 
}

#card-depoimentos{
    color: black;
    border: 0;
    display: inline;
}

#card-depoimentos-data{
    display: inline;
}

/*NOSSA EQUIPE*/
#card-img-nossa-equipe{
    height: 100px;
    width: min-content;
}

/*RODAPÉ*/
#rodape{
    background-color: #B3B6E3;
}